@using NationBuilder.ViewModels

@{ 
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LoginViewModel
<h1>NationBuilder</h1>

<p>@Html.ActionLink("Log in", "Login", "Users")</p>
<p>@Html.ActionLink("Create your Account", "Create", "Users")</p>
